
<footer class="pt-3" id="contact" style="width: 100%">
    <div class="container pt-4 pb-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <p style="color:white; font-size:24px; margin-bottom: 5px">Barnett Yang</p>
                <p style="color:white; margin-bottom: 5px">adamzuyang@gmail.com</p>
                <p style="color:white;">(626) 365-2809</p>

                <ul class="list-inline social social-white-alt social-rounded social-sm mb-0">
                    <li class="list-inline-item"><a href="<%= social.facebook.link %>" target="_blank"><i class="fa fa-facebook"></i></a></li>

                    <li class="list-inline-item"><a href="<%= social.linkedin.link %>" target="_blank"><i class="fa fa-linkedin"></i></a></li>

                    <li class="list-inline-item"><a href="<%= social.instagram.link %>" target="_blank"><i class="fa fa-instagram"></i></a></li>

                    <li class="list-inline-item"><a href="<%= social.github.link %>" target="_blank"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
