<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
    <a class="navbar-brand" href="/"><img class="img-logo" src="<%= img_logo_nav %>" style="height: 40px; width: 40px;"></a>
    <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border-color: transparent">
        <i class="fas fa-bars"></i>
    </a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% header_nav.forEach(function(item){ %>
          <li class="nav-item">
            <a class="nav-link" href="<%= item.link %>"><%= item.text %></a>
          </li>
        <% }); %>
      </ul>
    </div>
</nav>