h1, h2, h3, h5 {
    font-weight: 250;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.3rem;
}

.hero {
    height: calc(100vh - 70px);
    background-size: cover;
    background-position: center;
}

.hero-content-wrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0.7));
    position: relative;
}

.hero-content {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    position: absolute;
    transform: translate(0, 60vh);
    color:white !important;
}

.project {
    height: 350px;
    width: min(100%, 350px);
    background-position: center;
    text-decoration: none;
    background-size: auto 100%;
    transition: all 0.3s ease-in-out;
}

.project:hover {
    background-size: auto 110%;
}

.project-info-wrapper {
    position:relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.project-info-wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    background: rgba(0,0,0,0.5);
    z-index: -1;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 200ms ease-in;
}

.project:hover .project-info-wrapper::after {
    transform: scaleX(1);
}

.project-info {
    position: absolute;
    bottom: 1rem;
    color:white;
}

.project-title {
    text-align:left;
    color:transparent;
    position: relative;
    z-index: 1;
    transition: color 300ms;
}
.project-subtitle {
    text-align:left;
    color:transparent;
    position: relative;
    z-index: 1;
    transition: color 300ms;
    transition-delay: 75ms;
}

.project-title::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: royalblue;
    z-index: -1;
    
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms ease-in;
}

.project-subtitle::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: royalblue;
    z-index: -1;
    
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms ease-in;
    transition-delay: 75ms;
}

.project:hover .project-title::after, .project:hover .project-subtitle::after {
    transform: scaleX(1);
}

.project:hover .project-title, .project:hover .project-subtitle {
    color: white;
}
