.btn {
    text-align: center;
    color: white;
    background-color: royalblue;
    border-radius: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.btn:hover {
    color: white;
    background-color: black;
}

p {
    color: gray;
    font-size: 18px;
    line-height: 30px;
}

ul {
    list-style-type: none;
}

li {
    font-size: 18px;
    left: 0;
    list-style-type: none;
}